/* По имени тега */

header {
    justify-content: flex-end;
    display: flex;
    width: 98.67vw; 
    height: 100vh;
    background-image: url('h.png');
}

body {
    font-family: 'Jost', Arial, sans-serif;
    text-decoration: none;
}

footer {
    height: 400px;
    background-color: #000061;
}

/* Псевдоклассы */

a:link {
    font-size: smaller;
    color: white;
    text-decoration: none;
}

a:visited {
    font-size: smaller;
    color: white;
}

a:hover {
    font-size: smaller;
    color: rgb(189, 189, 189);
    text-decoration: none;
}

/* По имени класса */

.menu_nav {
    justify-content: space-around;
    display: flex;
}

.menu_item {
    display: flex;
    height: 16px;
    margin: 15px;
    margin-top: 40px;
}

.button {
    justify-content: center;
    display: flex;
    width: 100px;
    height: 16px;
    margin: 15px;
    margin-top: 28px;
    padding: 8px 30px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10px;
}

.blocks {
    justify-content: space-around;
    display: flex;
}

.block {
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    display: flex;
    width: 260px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    border-radius: 10px;
}

.block_picture {
    width: 35px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 10px;
}

.text {
    width: 250px;
    font-family: 'Jost', Arial, sans-serif;
    text-align: center;
}

.text_block {
    justify-content: space-around;
    display: flex;
}

.body_block {
    width: 400px;
}

.image {
    width: 350px;
}

.video {
    align-items: center;
    flex-flow: column wrap;
    display: flex;
}

.img_and_feedbacks {
    justify-content: space-around;
    flex-flow: row wrap;
    display: flex;
}

.feedbacks {
    flex-flow: row nowrap;
    display: flex;
}

.feedback {
    align-items: center;
    flex-flow: column nowrap;
    display: flex;
}

.footer_nav {
    justify-content: space-around;
    flex-flow: row wrap;
    display: flex;
    font-size: medium;
    color: white;
}

/* По идентификатору */

#logo {
    display: flex;
    width: 15vw;
    height: 5vh;
    margin: 15px;
    margin-top: 30px;
}

#main_title {
    margin-top: 40px;
    margin-left: 100px;
    padding: 0px;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

#neftecom {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
